#footer{
  // position:abs;
  color: #CCCCCC;
  font-size: 12px;
  font-family: 'Arial Regular';
  text-align: center;
  width: 100%;
  bottom: 0px;
  padding: 30px 0;
  position: relative;
}

#footer p {
  margin-top: 14px;
}
#footer ul {
  margin-top: 10px;
}
#footer a {
  color: #CCCCCC;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: yellow;
}
