<nav class="navbar-beardworld">
  <div class="container navbar-beardworld-container">

    <% link_to "./index.html" do %>
      <%= image_tag "download.png", class: "navbar-beardworld-logo" %>
    <% end %>

    <form action="" class="navbar-beardworld-search">
      <input type="text" class="navbar-beardworld-search-input hidden-xs" placeholder="Shampoo, Oils, Conditioner, ...">
      <button type="submit" class="navbar-beardworld-search-btn hidden-xs">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <div class="navbar-beardworld-item">
      <%= link_to "Products", "./products.html", class: "navbar-beardworld-button btn btn-default" %>
      <!-- <a href="/products.html" class="navbar-beardworld-button btn btn-default">Products</a> -->
    </div>

    <!-- <a href="/help.html" class="navbar-beardworld-item navbar-beardworld-link">Help</a> -->
    <%= link_to "Help", "./help.html", class: "navbar-beardworld-item navbar-beardworld-link" %>


    <a href="" class="navbar-beardworld-item navbar-beardworld-link">
      <div class="icon-badge-container">
        <i class="fa fa-shopping-cart"></i>
        <div class="icon-badge icon-badge-blue">3</div>
      </div>
    </a>

    <div class="navbar-beardworld-item">
      <div class="dropdown">

        <img src="images/profile-icon.jpg" alt="" class="avatar-large dropdown-toggle" id="navbar-beardworld-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

        <ul class="dropdown-menu dropdown-menu-right navbar-beardworld-dropdown-menu" aria-labelledby="navbar-beardworld-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Subscriptions</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>

      </div>
    </div>
  </div>
</nav>
