---
title: Beard World
---

<div id="main">
  <div>
    <h1>beard world</h1>
    <h2>The one-stop shop for all your beard needs</h2>
  </div>
  <div class="center">
    <h2>" There are two types of people in the world without beards: women and children. I am neither one. " - Marcian Diamond</h2>
  </div>
<!--   <div class="centered">
    <%= image_tag "http://i.telegraph.co.uk/multimedia/archive/03235/hagrid2_3235619b.jpg" %>
  </div> -->
</div>
