<div class="padded">
  <h2 class="section-header text-center">Shampoo</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('images/shampoo.jpg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Cynthia Sylvia Stout</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('images/shampoo.jpg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Cynthia Sylvia Stout</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('images/shampoo.jpg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Cynthia Sylvia Stout</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="padded">
  <h2 class="section-header text-center">Essentiel Oils</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('http://cdn.trendhunterstatic.com/thumbs/beard-pack.jpeg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Beard Pack</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('http://cdn.trendhunterstatic.com/thumbs/beard-pack.jpeg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Beard Pack</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('http://cdn.trendhunterstatic.com/thumbs/beard-pack.jpeg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Beard Pack</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="padded">
  <h2 class="section-header text-center">Conditioners</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('http://4.bp.blogspot.com/-Qnog44aZsCU/VP0I6tbyj6I/AAAAAAAAEsA/IXAzRD3H9Ns/s1600/smooth%2Bviking5.jpg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Smooth Viking</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('http://4.bp.blogspot.com/-Qnog44aZsCU/VP0I6tbyj6I/AAAAAAAAEsA/IXAzRD3H9Ns/s1600/smooth%2Bviking5.jpg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Smooth Viking</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('http://4.bp.blogspot.com/-Qnog44aZsCU/VP0I6tbyj6I/AAAAAAAAEsA/IXAzRD3H9Ns/s1600/smooth%2Bviking5.jpg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Smooth Viking</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('http://4.bp.blogspot.com/-Qnog44aZsCU/VP0I6tbyj6I/AAAAAAAAEsA/IXAzRD3H9Ns/s1600/smooth%2Bviking5.jpg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Smooth Viking</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('http://4.bp.blogspot.com/-Qnog44aZsCU/VP0I6tbyj6I/AAAAAAAAEsA/IXAzRD3H9Ns/s1600/smooth%2Bviking5.jpg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Smooth Viking</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('http://4.bp.blogspot.com/-Qnog44aZsCU/VP0I6tbyj6I/AAAAAAAAEsA/IXAzRD3H9Ns/s1600/smooth%2Bviking5.jpg')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Smooth Viking</h2>
            <p>Very cool stuff and useful</p>
          </span>
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar avatar-bordered">
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>
